// resources/css/app.scss

// …tus imports anteriores…

@import './navbar.css';
@import './home.css';
@import './housecard.css';
@import './auth.css';
@import '../css/housedetail.css';


/* Al final de app.scss */
html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
}


