@import './navbar.css';
@import './home.css';
@import './housecard.css';
@import './auth.css';
@import '../css/housedetail.css';
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

body, #root {
  margin: 0;
  padding: 0;
}

.main-content {
  padding-top: 80px; 
}